@font-face {
    font-family:opensansbold ;
    src: url(../Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: opensansregular;
    src: url(../Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}
  @font-face {
    font-family: opensans2;
    src: url(../Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
  }
  @font-face {
    font-family: opensansmedium;
    src: url(../Open_Sans/static/OpenSans/OpenSans-Medium.ttf);
  }
  @font-face {
    font-family:roboto-regular ;
    src: url(../Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family:roboto-bold;
    src: url(../Roboto/Roboto-Bold.ttf);
}
@font-face{
    font-family: montserratbold;
    src: url(../Montserrat/Montserrat-BoldItalic.ttf);
}
@font-face {
    font-family: montserratmedium;
    src: url(../Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: monteserratlight;
    src: url(../Montserrat/Montserrat-Light.ttf);
}
.title{
    font-size: 26px;
    font-weight: 500;
   font-family:montserratmedium,Arial, Helvetica, 'Lucida Sans'
}
.body1{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}
.who{
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif; 
    color: #333333;  
}
.regi{
    font-size: 30px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;   
    color: #333333; 
}
p{
    font-weight: 500;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans';
    color: #666666;
}

